In [52]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
from flask import Flask, jsonify

In [53]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite", echo=False)

In [54]:
inspector = inspect(engine)
inspector.get_table_names()

['Measurement', 'Stations']

In [55]:
columns = inspector.get_columns('Measurement')
for c in columns:
    print(c['name'], c["type"])

index BIGINT
station TEXT
date TEXT
prcp FLOAT
tobs BIGINT

In [58]:
columns = inspector.get_columns('Stations')
for c in columns:
    print(c['name'], c["type"])

index BIGINT
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [65]:
engine.execute('SELECT * FROM Measurement LIMIT 10').fetchall()

[(0, 'USC00519397', '2010-01-01', 0.08, 65),
 (1, 'USC00519397', '2010-01-02', 0.0, 63),
 (2, 'USC00519397', '2010-01-03', 0.0, 74),
 (3, 'USC00519397', '2010-01-04', 0.0, 76),
 (4, 'USC00519397', '2010-01-07', 0.06, 70),
 (5, 'USC00519397', '2010-01-08', 0.0, 64),
 (6, 'USC00519397', '2010-01-09', 0.0, 68),
 (7, 'USC00519397', '2010-01-10', 0.0, 73),
 (8, 'USC00519397', '2010-01-11', 0.01, 64),
 (9, 'USC00519397', '2010-01-12', 0.0, 61)]

In [66]:
engine.execute('SELECT * FROM Stations').fetchall()

[(0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [69]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [70]:
#Classes = Base.classes.hawaii
Base.classes.keys()
#WHY the FUCK doesn't it show the class keys?????

[]

In [64]:
session = Session(engine)